extends layouts/_layout

block variables
	-title = 'Главная'

block content

	//begin main
	.main

		//begin screen
		+b.SECTION.screen.section
			+e.slider-controls-wrap.container
				+e.slider-controls.slider-controls._gray
			+e.slider.slider.js-screen-slider
				+e.slider-item
					+e.bg(style='background-image: url(img/bg/screen-sld_1.jpg)')
						+e.container.container
							+e.content
								+b.section-title._left._white.screen__content-title
									+e.inner
										+e.I.icon.icon-R
										+e.H2.text
											| РЕАЛЬНАЯ ЗАЩИТА ОТ УГОНА?
											span —  ДА!
									+e.P.descr._color-1 Удобство. Экономия. Эффективность.
								+e.content-bot
									+e.content-price
										+e.SPAN.content-price-text от
										+b.price-block._white
											span 10 000
											= ' '
											| ₽
									+btn({
										type: 'b',
										text: 'Заказать звонок',
										classMod: '_red'})

				+e.slider-item
					+e.bg(style='background-image: url(img/bg/screen-sld_2.jpg)')
						+e.container.container
							+e.content
								+b.section-title._left._white.screen__content-title
									+e.inner
										+e.I.icon.icon-A
										+e.H2.text
											| Автоматический запуск
											span двигателя
									+e.P.descr._color-1 Удобство. Экономия. Эффективность.
								+e.content-bot
									+e.content-price
										+e.SPAN.content-price-text от
										+b.price-block._white
											span 10 000
											= ' '
											| ₽
									+btn({
										type: 'b',
										text: 'Заказать звонок',
										classMod: '_red'
									})

			+arcDecor('1')
			+b.BUTTON.scroll-next-btn: +i('angle-down')

		//end screen

		//begin benefits
		+b.SECTION.benefits.section
			+e.container.container
				+b.section-title._center._black.benefits__title
					+e.inner
						+e.I.icon.icon-N
						+e.H2.text
							| Наши
							span Преимущества
				+e.row.row
					+e.item
						+e.item-decor
						+e.item-top
							+e.H5.item-title.title._black Гарантия
							+e.item-icon(class=`icon-certificate`)
						+e.UL.item-list.list-triangled
							li
								strong На работу —
								= ' '
								span до смены владельца
							li
								strong На оборудование —
								= ' '
								span согласно условиям производителя
					+e.item
						+e.item-decor
						+e.item-top
							+e.H5.item-title.title._black Стоимость
							+e.item-icon(class=`icon-like`)
						+e.UL.item-list.list-triangled
							li: span Боль конкурентов
							li: span Без скрытых условий
							li: span Фактический расчет
							li: span Отсутствие посредников
					+e.item
						+e.item-decor
						+e.item-top
							+e.H5.item-title.title._black Техподдержка
							+e.item-icon(class=`icon-wrench`)
						+e.UL.item-list.list-triangled
							li
								strong 24/ 7 —
								= ' '
								span без выходных
							li: span С пониманием
							li: span По эксплуатации и техническим вопросам

					+e.item
						+e.item-decor
						+e.item-top
							+e.H5.item-title.title._black Скидки
							+e.item-icon(class=`icon-discount`)
						+e.UL.item-list.list-triangled
							li: span По рекомендации
							li: span Повторное обращение
							li: span Индивидуальные ситуации

			+arcDecor('1')
		//end benefits
			
		//begin faq
		+b.SECTION.faq.section.noise-bg._type-1
			+e.container.container
				+b.section-title._left._white.faq__title
					+e.inner
						+e.I.icon.icon-Z
						+e.H2.text
							| Захотят —
							span угонят?
					+e.P.descr._color-2 Распостроненные мнения автолюбителей об угоне

				+e.row.row
					-
						faqQ = [
						'Автомобиль не нуждается в средствах защиты от сторонних производителей',
						'Страховые продукты - Каско, как решение всех проблем',
						'Мой автомобиль неугоняем по статистике. Он просто никому не нужен.',
						'Авто куплен с установленной в салоне автосигнализацей',
						'У меня качественная система безопасности известного бренда',
						'Лучше механической защиты ничего нет. Все просто и надежно.'
						]
					-
						faqA = [
						'Оригинальные системы безопасности в свободном доступе, изучены и имеют массу изъянов для взлома.',
						'Действительно. Для любителей халявной движимости это взаимовыгодное сотрудничество. ',
						'Но Вы же купили именно его? Как минимум, запчасти нужны всем и подешевле.',
						'Заплатили крупную сумму. Давайте разберемся. Задача автосалона - прибыль или чьё-то спокойствие?',
						'Правда в том, что в 80% установок нет смысла и мотивации испонителя на \n'+
						'результат. Дело не в бренде.',
						'Серьёзно? Откройте Youtube и воспользуйтесь поиском. Устраняется без особых усилий.'
						]

					mixin faqItem(index)
						+e.item
							+e.item-inner
								+e.H5.item-title.title._white= faqQ[index]
								+e.P= faqA[index]

					each item, index in faqQ
						+faqItem(index)
		//end faq

		//begin solutions
		+b.SECTION.solutions.section
			+e.container.container
				+b.section-title._center._black.solutions__title
					+e.inner
						+e.I.icon.icon-P
						+e.H2.text Проблемы
							span и решения
					+e.P.descr Кратко о действующих способах защиты автомобиля

				+e.slider.slider.js-solutions-slider
					-solutionItem = 0
					while solutionItem < 5
						+e.slider-item
							+e.block._l
								+e.block-inner
									+e.block-top
										+e.block-icon
											.icon-allert-message
										+e.H4.block-title.title._black Проблема
									+e.P
										strong Бесключевой доступ.
										= ' '
										| Радиосигнал смарт-ключа возможно передать на большие расстояния, посредством GSM операторов. Штатная система откроет двери автомобиля любому, с несложным тех. оборудованием.
							+e.image
								+e.image-icon(class=`icon-car-${solutionItem + 1}`)

							+e.block._r
								+e.block-inner
									+e.block-top
										+e.block-icon
											.icon-lamp
										+e.H4.block-title.title._black Решение
									+e.P
										strong Блокировка радиоканала.
										= ' '
										| Smart Key работает только при наличии сторонней метки или авторизированного смартфона. Общение с модулем системы происходит диалоговым кодом.
									+e.P Взлом исключен.
						-solutionItem++

				+e.slider-controls.slider-controls._black

			+arcDecor('2')
		//end solutions
			
		//begin complex
		+b.SECTION.complex
			+e.container.container
				+b.section-title._center._black.complex__title
					+e.inner
						+e.I.icon.icon-P
						+e.H2.text Противоугонные
							span комплексы
					+e.P.descr Сформированные на каждый бюджет

				.c-tabs
					.c-tabs__nav
						-
							tabsList = ['Базовый', 'Базовый +', 'Максимум', 'Оптима']
						-activeIndex = 0
						for tabsText, index in tabsList
							button.c-tabs__btn(class= index === activeIndex ? 'is-active' : '')
								span= tabsText
								+i('angle-right', 'c-tabs__btn-icon')

					.c-tabs__for
						-i = 0
						while i < 4
							.c-tabs__tab
								+e.item
									+e.H6.item-title Опции комплекса
									+e.UL.item-list
										li Электромеханические замки капота x 2 шт
										li Охранно-телематический комплекс
										li Координаты по базовым станциям GSM
										li Подкапотный Bluetooth-модуль
										li Bluetooth-метки x 2 шт или смартфон
										li Функция "свободные руки"
										li Slave управление штатным ключом
										li Управление и контроль по GSM/Bluetooth
										li Координаты по базовым станциям GSM
										li CAN Блокировка двигателя (уточнять)
										li Автозакрытие стекол (уточнять)
										li Управление догревателем (уточнять)
										li Авторизация по штатным кнопкам (уточнять)
										li Управление и контроль по GSM/Bluetooth
										li Координаты по базовым станциям GSM
										li CAN Блокировка двигателя (уточнять)
										li Автозакрытие стекол (уточнять)
										li Управление догревателем (уточнять)
										li Авторизация по штатным кнопкам (уточнять)
							-i++
		//end complex

	//end main
