extends layouts/_layout

block variables
	-title = 'Главная'

block content

	//begin main
	.main

		//begin screen
		+b.SECTION.screen.section._screen.noise-bg#screen
			.section__line.section__line_l
			.section__line.section__line_c
			.section__line.section__line_r
			+e.slider-controls-wrap.container
				+e.slider-controls.slider-controls._gray
			+e.slider.slider.js-screen-slider
				+e.slider-item
					+e.bg(style='background-image: url(img/bg/screen-sld_bg-1.jpg)')
						+e.container.container
							+e.content
								+b.section-title._left._white._lg.screen__content-title
									+e.inner
										+e.I.icon.icon-R
										+e.H2.text._lg
											| РЕАЛЬНАЯ ЗАЩИТА ОТ УГОНА?&nbsp;
											span —&nbsp; ДА!
								+e.P.content-descr Удобство. Экономия. Эффективность.
								+e.content-bot
									+e.content-price
										+e.SPAN.content-price-text от
										+b.price-block._white.screen__price-block
											+e.current
												span 10 000
													= ' '
													i ₽
									+btn({
										type: 'b',
										text: 'Заказать звонок',
										classMod: '_red screen__content-btn',
										popup: 'call-popup'
									})
							+e.img-wrap
								+e.IMG(src='img/bg/screen-sld_img-1.png' alt='image')

				+e.slider-item
					+e.bg(style='background-image: url(img/bg/screen-sld_bg-2.jpg)')
						+e.container.container
							+e.content
								+b.section-title._left._white._lg.screen__content-title
									+e.inner
										+e.I.icon.icon-A
										+e.H2.text._lg
											| Автоматический запуск
											span двигателя
								+e.P.content-descr Расчетливость. Продуктивность. Комфорт.
								+e.content-bot
									+e.content-price
										+e.SPAN.content-price-text от
										+b.price-block._white.screen__price-block
											+e.current
												span 10 000
													= ' '
													i ₽
									+btn({
										type: 'b',
										text: 'Консультация',
										classMod: '_red screen__content-btn',
										popup: 'consult-popup'
									})
							+e.img-wrap
								+e.IMG(src='img/bg/screen-sld_img-2.png' alt='image')
			+b.BUTTON.scroll-next-btn.js-scroll-to: +i('angle-down')
			+arcDecor('1')

		//end screen

		//begin advantages
		+b.SECTION.advantages.section._advantages.js-scroll-dest#advantages
			.section__line.section__line_l
			.section__line.section__line_c
			.section__line.section__line_r
			+e.container.container
				+b.section-title._center._black.advantages__title
					+e.inner
						+e.I.icon.icon-N
						+e.H2.text
							| Наши
							span Преимущества
				+e.row.row
					+e.A.item(href='#!' data-popup-target='consult-popup')
						+e.item-decor
						+e.item-top
							+e.H5.item-title.title._black Гарантия
							+e.item-icon(class=`icon-certificate`)
						+e.UL.item-list.list-triangled
							li
								strong На работу —
								= ' '
								span до смены владельца
							li
								strong На оборудование —
								= ' '
								span согласно условиям производителя
					+e.A.item(href='#!' data-popup-target='consult-popup')
						+e.item-decor
						+e.item-top
							+e.H5.item-title.title._black Стоимость
							+e.item-icon(class=`icon-like`)
						+e.UL.item-list.list-triangled
							li: span Боль конкурентов
							li: span Без скрытых условий
							li: span Фактический расчет
							li: span Отсутствие посредников
					+e.A.item(href='#!' data-popup-target='consult-popup')
						+e.item-decor
						+e.item-top
							+e.H5.item-title.title._black Техподдержка
							+e.item-icon(class=`icon-wrench`)
						+e.UL.item-list.list-triangled
							li
								strong 24/ 7 —
								= ' '
								span без выходных
							li: span С пониманием
							li: span По эксплуатации и техническим вопросам

					+e.A.item(href='#!' data-popup-target='consult-popup')
						+e.item-decor
						+e.item-top
							+e.H5.item-title.title._black Скидки
							+e.item-icon(class=`icon-discount`)
						+e.UL.item-list.list-triangled
							li: span По рекомендации
							li: span Повторное обращение
							li: span Индивидуальные ситуации

			+arcDecor('1', true)
		//end advantages

		//begin faq
		+b.SECTION.faq.section._faq.noise-bg._type-1#faq
			.section__line.section__line_l
			.section__line.section__line_c
			.section__line.section__line_r
			+e.container.container
				+b.section-title._left._white.faq__title
					+e.inner
						+e.I.icon.icon-Z
						+e.H2.text
							| Захотят
							span — угонят?
					+e.P.descr._color-2 Распостроненные мнения автолюбителей об угоне

				+e.row.row
					-
						faqQ = [
						'Автомобиль не нуждается в средствах защиты от сторонних производителей',
						'Страховые продукты - Каско, как решение всех проблем',
						'Мой автомобиль неугоняем по статистике. Он просто никому не нужен.',
						'Авто куплен с установленной в салоне автосигнализацей',
						'У меня качественная система безопасности известного бренда',
						'Лучше механической защиты ничего нет. Все просто и надежно.'
						]
					-
						faqA = [
						'Оригинальные системы безопасности в свободном доступе, изучены и имеют массу изъянов для взлома.',
						'Действительно. Для любителей халявной движимости это взаимовыгодное сотрудничество. ',
						'Но Вы же купили именно его? Как минимум, запчасти нужны всем и подешевле.',
						'Заплатили крупную сумму. Давайте разберемся. Задача автосалона - прибыль или чьё-то спокойствие?',
						'Правда в том, что в 80% установок нет смысла и мотивации испонителя на \n'+
						'результат. Дело не в бренде.',
						'Серьёзно? Откройте Youtube и воспользуйтесь поиском. Устраняется без особых усилий.'
						]

					mixin faqItem(index)
						+e.item
							+e.item-inner
								+e.H5.item-title.title._white= faqQ[index]
								+e.P= faqA[index]

					each item, index in faqQ
						+faqItem(index)

			+arcDecor('3')
		//end faq

		//begin solutions
		+b.SECTION.solutions.section._solutions#solutions
			.section__line.section__line_c
			+e.container.container
				+b.section-title._center._black.solutions__title
					+e.inner
						+e.I.icon.icon-P
						+e.H2.text Проблемы
							span и решения
					+e.P.descr Кратко о действующих способах защиты автомобиля

				+e.slider.slider.js-solutions-slider
					-solutionItem = 0
					while solutionItem < 5
						+e.slider-item
							+e.block._l
								+e.block-inner
									+e.block-top
										+e.block-icon
											.icon-allert-message
										+e.H4.block-title.title._black Проблема
									+e.P
										strong Бесключевой доступ.
										= ' '
										| Радиосигнал смарт-ключа возможно передать на большие расстояния, посредством GSM операторов. Штатная система откроет двери автомобиля любому, с несложным тех. оборудованием.
							+e.image
								+e.image-icon(class=`icon-car-${solutionItem + 1}`)

							+e.block._r
								+e.block-inner
									+e.block-top
										+e.block-icon
											.icon-lamp
										+e.H4.block-title.title._black Решение
									+e.P
										strong Блокировка радиоканала.
										= ' '
										| Smart Key работает только при наличии сторонней метки или авторизированного смартфона. Общение с модулем системы происходит диалоговым кодом.
									+e.P Взлом исключен.
						-solutionItem++

				+e.slider-controls.slider-controls._black

			+arcDecor('2')
		//end solutions

		//begin complex
		+b.SECTION.complex.section._complex
			.section__line.section__line_l
			.section__line.section__line_c
			.section__line.section__line_r
			+e.container.container
				+b.section-title._center._black.complex__title
					+e.inner
						+e.I.icon.icon-P
						+e.H2.text Противоугонные
							span комплексы
					+e.P.descr Сформированные на каждый бюджет

				.c-tabs
					.c-tabs__nav
						-
							tabsList = ['Базовый', 'Базовый +', 'Максимум', 'Оптима']
						-activeIndex = 0
						for tabsText, index in tabsList
							button.c-tabs__btn(class= index === activeIndex ? 'is-active' : '')
								span= tabsText
								+i('angle-right', 'c-tabs__btn-icon')

					.c-tabs__for
						-i = 0
						while i < 4
							.c-tabs__tab
								+e.item
									+e.H6.item-title: span Опции комплекса
									+e.UL.item-list
										li Электромеханические замки капота
											span x 2 шт
										li Охранно-телематический комплекс
										li Координаты по базовым станциям GSM
										li Подкапотный Bluetooth-модуль
										li Bluetooth-метки
											span x 2 шт
											= ' '
											| или смартфон
										li Функция "свободные руки"
										li Slave управление штатным ключом
										li Управление и контроль по GSM/Bluetooth
										li Координаты по базовым станциям GSM
										li CAN Блокировка двигателя
											span (уточнять)
										li Автозакрытие стекол
											span (уточнять)
										li Управление догревателем
											span (уточнять)
										li Авторизация по штатным кнопкам
											span (уточнять)

								+e.item._sm
									+e.H6.item-sub-title: span Дополнительные опции
									+e.item-options
										+checkBox('_type-1 complex__item-checkbox', 'Модуль аварийного открытия замков')(disabled, checked)
										+checkBox('_type-1 complex__item-checkbox', 'Бесключевой (безопасный) автозапуск')(disabled, checked)
										+checkBox('_type-1 complex__item-checkbox', 'Блокировка радиоканала')(disabled, checked)
										+checkBox('_type-1 complex__item-checkbox', 'Поисковый маяк')(disabled, checked)
										+checkBox('_type-1 complex__item-checkbox', 'Защита диагностического разъема')(disabled, checked)
										+checkBox('_type-1 complex__item-checkbox', 'Координаты по GPS')(disabled, checked)

								+e.bottom
									+e.price
										+e.SPAN.price-text.title._black Цена:
										+b.price-block._black
											+e.old
												span 25 000
												i ₽
											+e.current
												span 20 000
												= ' '
												i ₽

									+btn({
										type: 'b',
										text: 'Заказать комплекс',
										classMod: '_red complex__order-btn',
										popup: 'complex-popup'
									})
							-i++
			+arcDecor('1', true)
			+e.IMG.decor-dots._l(src='img/decor/decor-dots_1.png' alt='image')
			+e.IMG.decor-dots._r(src='img/decor/decor-dots_2.png' alt='image')
		//end complex

		//begin config
		+b.SECTION.config.section._config.noise-bg._type-2#config
			.section__line.section__line_l
			.section__line.section__line_c
			.section__line.section__line_r
			+e.container.container
				+b.section-title._left._white.config__title
					+e.inner
						+e.I.icon.icon-O
						+e.H2.text Онлайн - конфигуратор
							span средств защиты от угона
					+e.P.descr._color-2 Выберите опции, заполните форму заказа и отправьте заявку
				+e.grid.grid
					.grid__sizer

					+e.item.grid__item
						+e.H5.item-title.title._white Базовое устройство
						+checkBox('_type-2 _radio config__item-checkbox', 'Иммобилайзер', true)(checked)
						+checkBox('_type-2 _radio config__item-checkbox', 'Охранная система', true)
						+checkBox('_type-2 _radio config__item-checkbox is-disabled', 'Телематический комплекс', true)

					+e.item.grid__item
						+e.H5.item-title.title._white Способ управления
						+checkBox('_type-2 config__item-checkbox', 'Метка')(checked)
						+checkBox('_type-2 config__item-checkbox', 'Брелок')
						+checkBox('_type-2 config__item-checkbox is-disabled', 'Смартфон Bluetooth')
						+checkBox('_type-2 config__item-checkbox', 'Штатный ключ')
						+checkBox('_type-2 config__item-checkbox is-disabled', 'Штатные кнопки')


					+e.item.grid__item
						+e.H5.item-title.title._white Координаты
						+checkBox('_type-2 config__item-checkbox', 'Мониторинг')(checked)
						+checkBox('_type-2 config__item-checkbox', 'Местоположение по запросу')
						+checkBox('_type-2 config__item-checkbox', 'Автономный маяк')

					+e.item.grid__item
						+e.H5.item-title.title._white Эл. блокировка
						+checkBox('_type-2 config__item-checkbox', 'Двигателя (капот)')(checked)
						+checkBox('_type-2 config__item-checkbox', 'Двигателя (салон)')
						+checkBox('_type-2 config__item-checkbox', 'По шине CAN')
						+checkBox('_type-2 config__item-checkbox', 'Радиоканал')(checked)
						+checkBox('_type-2 config__item-checkbox', 'OBD (диагностика)')(checked)

					+e.item.grid__item
						+e.H5.item-title.title._white Комфорт
						+checkBox('_type-2 config__item-checkbox', 'Автозапуск')(checked)
						+checkBox('_type-2 config__item-checkbox', 'Свободные руки')
						+checkBox('_type-2 config__item-checkbox', 'Бесключевой доступ')
						+checkBox('_type-2 config__item-checkbox', 'Автозакрытие стекол')
						+checkBox('_type-2 config__item-checkbox', 'Автозакрытие люка')
						+checkBox('_type-2 config__item-checkbox', 'Складывание зеркал')
						+checkBox('_type-2 config__item-checkbox', 'Управление видеорегистратором')
						+checkBox('_type-2 config__item-checkbox', 'Управление догревателем')

					+e.item.grid__item
						+e.H5.item-title.title._white Телематика
						+checkBox('_type-2 config__item-checkbox', 'Управление по GSM (звонок и смс)')(checked)
						+checkBox('_type-2 config__item-checkbox', 'Управление по internet (смартфон или Web)')
						+checkBox('_type-2 config__item-checkbox', 'Управление по  Bluetooth (смартфон)')
						+checkBox('_type-2 config__item-checkbox', 'Данные о расходе топлива, пробег')(checked)

					+e.item.grid__item
						+e.H5.item-title.title._white Автозапуск
						+checkBox('_type-2 config__item-checkbox', 'Копия чипа ключа')(checked)
						+checkBox('_type-2 config__item-checkbox', 'Бесключевой обход')
						+checkBox('_type-2 config__item-checkbox', 'Мягкая посадка')
						+checkBox('_type-2 config__item-checkbox', 'Турботаймер')
						+checkBox('_type-2 config__item-checkbox', 'Активация подогрева сидений')
						+checkBox('_type-2 config__item-checkbox', 'Управление климат. системой')
						+checkBox('_type-2 config__item-checkbox', 'Акт. подогрева зеркал и стекол')

					+e.item.grid__item
						+e.H5.item-title.title._white Блокировка доступа
						+checkBox('_type-2 config__item-checkbox', 'Эл. мех замок (капот)')(checked)
						+checkBox('_type-2 config__item-checkbox is-disabled', 'Эл. мех замки 2 шт (капот)')
						+checkBox('_type-2 config__item-checkbox is-disabled', 'Авторские замки (капот)')
						+checkBox('_type-2 config__item-checkbox', 'Эл. мех блокираторы (двери)')(checked)
						+checkBox('_type-2 config__item-checkbox', 'Модуль аварийного открытия')

				+e.actions
					+btn({
						type: 'b',
						text: 'Оформить заказ',
						classMod: '_red config__actions-btn',
						popup: 'complex-message-popup'
					})
			+arcDecor('3')
		//end config

		//begin equip
		+b.SECTION.equip.section._equip#equip
			.section__line.section__line_c
			+e.container.container
				+b.section-title._center._black.equip__title
					+e.inner
						+e.I.icon.icon-P
						+e.H2.text Подбор и установка
							span доп.оборудования
					+e.P.descr Нужно что-то еще? Все можно установить в одном месте

				+e.row.row
					+e.UL.list.list-triangled
						-
							equipList = [
							'Парковочные радары',
							'Видеорегистраторы',
							'Антирадары',
							'Защитные сетки',
							'Номерные рамки',
							'Подогреватели Webasto',
							'Подогрев сидений',
							'Светодиодные лампы']
						for text in equipList
							li: span= text

					+e.UL.list.list-triangled
						-
							equipList = [
							'Потолочные мониторы',
							'Консольные мониторы',
							'Мониторы на зеркало',
							'Мониторы в подголовниках',
							'Оригинальные мониторы',
							'Доводчики дверей']
						for text in equipList
							li: span= text

					+e.UL.list.list-triangled
						-
							equipList = [
							'Камеры заднего вида',
							'Камеры переднего вида',
							'Круговой 360 видеообзор',
							'Онлайн видеонаблюдение',
							'Аудиоконтроль салона',
							'Тонировка',
							'Оклейка пленкой']
						for text in equipList
							li: span= text

					+e.UL.list.list-triangled
						-
							equipList = [
							'Видеоинтерфейсы',
							'Контроллеры и адаптеры',
							'Android / Я.Навигатор',
							'Отображение смартфона',
							'Цифровые TV-тюнеры',
							'Шумоизоляция',
							'Химчистка салона',
							'Полировка кузова',
							'Звуковые сигналы']
						for text in equipList
							li: span= text

				+e.img-wrap
					+e.IMG(src='img/other/mercedes.png' alt='Mercedes-Benz')
			+arcDecor('2')
		//end equip

		//begin contacts
		+b.SECTION.contacts.section._contacts#contacts
			.section__line.section__line_l
			.section__line.section__line_c
			.section__line.section__line_r
			+e.container.container
				+b.section-title._center._black.contacts__title
					+e.inner
						+e.I.icon.icon-N
						+e.H2.text Наши
							span контакты
				+e.row.row
					+e.col.col
						+b.contact-block._extended.contacts__contact-block
							+e.item
								+e.item-icon
									+i('map-marker-alt')
								+e.item-text
									+e.item-title Адрес
									address г. Москва, ул. Осенняя, 23
									+e.P (м-н Крылатское)

							+e.item
								+e.item-icon
									+i('phone')
								+e.item-text
									+e.item-title Телефон
									+e.A(href='tel:+79650990090') +7 (965) 099 00 90
									+e.P (Viber, Telegram, WhatsApp)
						+b.contact-form._contacts
							+e.H3.title Форма
								span обратной связи
							+e.FORM.form.js-form(action='#!' method='POST')
								+e.row.row
									+b.form-field.contact-form__field
										label
											+e.INPUT.input.js-input(type='text' name='' placeholder='Ваше имя' required)
											+e.icon
												+i('user-edit')

									+b.form-field.contact-form__field
										label
											+e.INPUT.input.js-input(type='text' name='' placeholder='Email' required)
											+e.icon
												+i('envelope')

								+e.row.row
									+b.form-field._message.contact-form__field
										+b.TEXTAREA.textarea(placeholder='Ваше сообщение' required)
										+e.icon
											+i('comment-alt')

								+btn({
									type: 'b',
									text: 'Отправить',
									classMod: '_red contact-form__submit-btn'
								})(type='submit')

							+e.dots
								+e.dots-el

					+e.col.col
						+e.map(data-zoom='17' data-center-lat='55.766820' data-center-lng='37.404096' data-marker-lat='55.766400' data-marker-lng='37.404096' data-marker-icon='img/other/map-marker.png')
			+e.IMG.decor-dots._l(src='img/decor/decor-dots_3.png' alt='image')
			+e.IMG.decor-dots._r(src='img/decor/decor-dots_4.png' alt='image')

		//end contacts

	//end main
