// *** begin screen *** //
.screen
   &__container
      display: flex
      align-items: flex-end
      height: 100%
      padding-bottom: 165px
      z-index: 1
      +xs
         align-items: center
         padding: 0 15px
   &__slider
      .slick-track,
      .slick-list
         -webkit-perspective: 2000px!important
         -webkit-backface-visibility: hidden!important
      &-item
         position: relative
         height: 620px
         +sm
            height: 550px
         +xs
            height: calc(100vh - 100px)
         +mob-fix
            height: 120vh
      &-dots
      &-controls
         top: 114px
         left: 25px
         width: 142px
         +sm
            top: 70px
         +xs
            top: 40px
         &-wrap
            position: relative
   &__bg
      +coverdiv
      +cover
      +xs
         background-position: 70% 50%
   &__content
      max-width: 600px
      +md
         max-width: 450px
   &__content
      +gpu
      &-title
         margin-bottom: 10px
         
      &-descr
         padding-left: 13px
         color: #e6e6e6
         +f('ub300', 22, 34)
         +md
            font-size: 19px
            line-height: 28px
         +xs
            padding-right: 10px
            font-size: 18px
      &-bot
         display: flex
         align-items: center
         margin-top: 34px
         +xs
            flex-direction: column
            align-items: flex-start
            margin-top: 15px
      &-price
         display: flex
         align-items: center
         margin: 10px 30px 0 9px
         +xs
            margin: 10px 0 20px
         &-text
            margin-right: 20px
            color: #d9d9d9
      &-btn
         min-width: 210px
   &__img-wrap
      position: absolute
      bottom: -80px
      right: -165px
      z-index: 1
      pointer-events: none
      +md
         bottom: -20px
         right: -70px
         width: 60%
      +sm
         bottom: 40px
      +xs
         display: none
   &__price-block
      font-size: 36px
   
// end screen //

// *** begin advantages *** //
.advantages
   padding: 109px 0 150px
   &__container
      +md
         max-width: 810px
   &__title
      margin-bottom: 75px
      span
         margin-left: 10px
   &__row
      +md
         flex-wrap: wrap
      +xs
         flex-direction: column
         align-items: center
         margin: 0
   &__item
      $parent: &
      position: relative
      flex: 0 1 calc(25% - 30px)
      width: calc(25% - 30px)
      margin: 0 15px
      padding: 32px 33px 27px 27px
      min-height: 241px
      background-color: $white
      cursor: pointer
      +md
         flex: 0 1 calc(50% - 30px)
         width: calc(50% - 30px)
      +xs
         flex: 1 1 auto
         width: 100%
      .is-ie &
         max-width: 262px
      &:nth-child(1) ~ &
         +xs
            margin: 30px 15px 0
      &:nth-child(2) ~ &
         +md
            margin: 30px 15px 0
   
      &-decor
         +coverdiv
         box-shadow: 0 15px 40px rgba(26, 3, 4, 0.1)
         border: 1px solid #f7f7f7
         transition: .3s ease-in-out
         pointer-events: none
         #{$parent}:hover &
            opacity: .5
         &::before, &::after
            position: absolute
            width: 15px
            height: 15px
            content: ''
         &::before
            top: -2px
            left: -2px
            border-top: 2px solid $color1
            border-left: 2px solid $color1
         &::after
            right: -2px
            bottom: -2px
            border-right: 2px solid $color1
            border-bottom: 2px solid $color1
      &-top
         display: flex
         align-items: center
         justify-content: space-between
         margin-bottom: 16px
      &-title
         flex: 0 1 calc(100% - 50px)
      &-icon
         height: 34px
// end advantages //

// *** begin faq *** //
.faq
   padding: 110px 0 175px
   &__title
      margin-bottom: 80px
      +xs
         margin-bottom: 50px
   &__row
      flex-wrap: wrap
      counter-reset: faqCount
      +xs
         flex-direction: column
   &__item
      flex: 0 1 50%
      width: 50%
      padding: 0 15px
      counter-increment: faqCount
      +xs
         flex: 0 1 auto
         width: 100%
      &:nth-child(1) ~ &
         +xs
            padding: 30px 15px 0
      &:nth-child(2) ~ &
         padding: 78px 15px 0
      .is-ie &
         max-width: 585px
      &-inner
         position: relative
         padding-left: 80px
         +sm
            padding-left: 50px
         &::before
            position: absolute
            left: 8px
            bottom: -3px
            z-index: 1
            color: $white
            opacity: 0.02
            +f('ub300', 54, 54)
            content: counter(faqCount, decimal-leading-zero)
      &-title
         position: relative
         margin-bottom: 8px
         &::before
            position: absolute
            top: calc(50% - 1px)
            right: calc(100% + 15px)
            width: 55px
            height: 2px
            background-color: $color1
            content: ''
            +sm
               width: 30px
      p
         color: $color6
         font-size: 14px
         line-height: 22px

// end faq //

// *** begin solutions *** //
.solutions
   padding: 116px 0 114px
   background-color: #ebebed
   &__container
      max-width: 1228px
   &__title
      position: relative
      left: -5px
      margin-bottom: 60px
      &::before
         left: 50%
         bottom: -42px
   &__slider
      .slick-list
         margin: 0 -40px
      &-item
         position: relative
         +gpu
         padding: 0 40px
         +clr
         
      &-controls
         position: relative
         top: auto
         left: -5px
         max-width: 365px
         margin: -10px auto 0
         +xs
            margin: 25px auto 0
   &__block
      $parent: &
      background-repeat: no-repeat
      background-size: cover
      height: 290px
      +xs
         position: relative
         float: none
         width: 100%
         height: auto
         padding: 30px 20px
         background: $white
         box-shadow: 0 15px 40px rgba(26, 3, 4, 0.1)
      &_l
         float: left
         width: 545px
         padding: 34px 65px 34px 65px
         background-image: url("../img/decor/solutions-block_l.svg")
         +md
            margin-bottom: 60px
         +xs
            margin-bottom: 0
      &_r
         float: right
         width: 564px
         padding: 36px 70px 35px 90px
         text-align: right
         background-image: url("../img/decor/solutions-block_r.svg")
         
      &-inner
         position: relative
         +xs
            position: static
         #{$parent}_l &
            &::before
               position: absolute
               top: -20px
               left: -38px
               width: 15px
               height: 15px
               border-top: 2px solid $color1
               border-left: 2px solid $color1
               content: ''
               +xs
                  top: 0
                  left: 0
         #{$parent}_r &
            &::before
               position: absolute
               bottom: -37px
               right: -41px
               width: 15px
               height: 15px
               border-bottom: 2px solid $color1
               border-right: 2px solid $color1
               content: ''
               +xs
                  bottom: 0
                  right: 0
      &-top
         display: flex
         align-items: center
         margin-bottom: 14px
         #{$parent}_r &
            flex-flow: row-reverse
            
      &-title
         font-size: 18px
      &-icon
         +flexCenter
         flex: 0 0 40px
         width: 40px
         height: 40px
         border-radius: 50%
         background-color: #c6c6c6
         #{$parent}_l &
            margin-right: 20px
         #{$parent}_r &
            margin-left: 26px
      p
         padding-left: 5px
   &__image
      position: absolute
      top: 50%
      left: 49.7%
      transform: translate3d(-50%, -50%, 0)
      +xs
         position: relative
         top: auto
         left: -20px
         z-index: 10
         display: flex
         align-items: center
         justify-content: center
         width: 150px
         margin: -40px auto
         transform: rotate(90deg)
      &::after
         position: absolute
         top: 43%
         left: 50%
         transform: translate3d(-50%, -50%, 0)
         width: 116px
         height: 116px
         border-radius: 50%
         z-index: -1
         background-color: $color1
         content: ''
      &-icon
// end solutions //

// *** begin complex *** //
.complex
   padding: 108px 0 148px
   &__title
      left: -2px
      margin-bottom: 116px
      &::before
         left: calc(50% - 3px)
         content: ''
   &__item
      $parent: &
      padding: 28px 0 21px
      border-bottom: 1px solid rgba($black, .06)
      +xs
         padding: 15px 0 20px
      &_sm
         padding: 28px 0 29px
         +xs
            padding: 15px 0 20px
      &-title
         position: relative
         margin-bottom: 7px
         +f('ub700', 18, 34)
         color: #000
         span
            position: relative
            z-index: 1
            padding-right: 70px
            background: $white
            +xs
               padding-right: 0
         &::after
            position: absolute
            top: 50%
            left: 0
            width: 100%
            height: 1px
            background-color: #000000
            opacity: 0.06
            content: ''
            +xs
               display: none
      &-sub-title
         @extend #{$parent}-title
         margin-bottom: 11px
         font-size: 16px
         
      &-list
         line-height: 36px
         color: $color4
         counter-reset: complexList
         column-count: 2
         column-gap: 30px
         +xs
            column-count: 1
            column-gap: 0
         li
            counter-increment: complexList
            line-height: 22px
            &:not(:last-child)
               margin-bottom: 15px
            &::before
               margin-right: 6px
               content: counters(complexList, ".", decimal-leading-zero) "."
            span
               color: $color6
      &-options
         display: flex
         flex-wrap: wrap
         margin: 0 -20px
         +xs
            margin: 0
      &-checkbox
         pointer-events: none
         flex: 0 1 calc(50% - 40px)
         width: calc(50% - 40px)
         margin: 0 20px
         +xs
            margin: 0
            flex: 0 1 auto
            width: 100%
         &:not(:last-child)
            +xs
               margin-bottom: 8px
   &__bottom
      display: flex
      justify-content: space-between
      align-items: center
      margin-top: 35px
      padding-right: 67px
      +sm
         padding-right: 0
      +xs
         flex-direction: column
         align-items: flex-start
   &__price
      display: flex
      align-items: center
      +xs
         flex-direction: column
         align-items: flex-start
         margin-bottom: 20px
      &-text
         margin-right: 55px
         text-transform: none
         +sm
            margin-right: 40px
         +xs
            margin: 0 0 15px
      &-old
   &__order-btn
      min-width: 260px
   &__decor-dots
      position: absolute
      bottom: 150px
      &_l
         left: 17px
      &_r
         right: 0
// end complex //

// *** begin config *** //
.config
   padding: 111px 0 158px
   &__title
      margin-bottom: 56px
      +xs
         margin-bottom: 20px
   &__grid
      left: 18px
      +md
         left: auto
   &__item
      width: 25%
      padding: 15px 15px 20px
      +sm
         width: 50%
         padding: 15px 50px 20px
      +xs
         width: 100%
         padding: 15px 15px 10px
      &-title
         position: relative
         margin-bottom: 10px
         padding-bottom: 15px
         &::after
            position: absolute
            bottom: 0
            left: -15px
            width: 75px
            height: 2px
            background-color: $color1
            content: ''
   &__actions
      margin-top: 40px
      text-align: center
      &-btn
         min-width: 270px
// end config //

// *** begin equip *** //
.equip
   padding: 110px 0 170px
   background-color: #ebebed
   &__container
      z-index: 3
   &__title
      margin-bottom: 65px
   &__row
      +sm
         display: block
         max-width: 600px
         margin: 0 auto
         column-count: 2
         column-gap: 30px
      +xs
         column-count: 1
         column-gap: 0
   &__list
      padding: 0 15px
      flex: 1
      +sm
         flex: 0 1 auto
      li
         line-height: 38px
         &:not(:last-child)
            margin-bottom: 0
   &__img-wrap
      position: relative
      z-index: 1
      margin: -38px 0 -175px -13px
      +sm
         margin: 20px 0 -175px -13px
      +xs
         margin: 20px 0 0
         
// end equip //

// *** begin contacts *** //
.contacts
   padding: 107px 0 50px
   background-color: $white
   &__title
      margin-bottom: 70px
   &__contact-block
      margin-bottom: 58px
   &__row
      +sm
         flex-direction: column
   &__col
      &:nth-child(1)
         flex: 0 1 percentage(580 / 1170)
         +sm
            flex: 1 1 auto
            width: 100%
            margin-bottom: 15px
      &:nth-child(2)
         flex: 0 1 percentage(588 / 1170)
         +sm
            flex: 1 1 auto
            width: 100%
   &__map
      height: 600px
      +sm
         height: 400px
      +xs
         height: 300px
      .gmnoprint, .gm-style-cc
         display: none
   &__decor-dots
      position: absolute
      bottom: 50px
      &_l
         left: 0
      &_r
         right: 0
// end contacts //
