//begin footer
+b.FOOTER.footer.section._footer
	.section__line.section__line_l
	.section__line.section__line_c
	.section__line.section__line_r
	+e.inner.noise-bg
		+e.container.container
			+e.P.text
				span Center
				i |
				= ' '
				| Dop © 2018. Все права защищены
	+arcDecor('1 footer__arc-decor', true)
//end footer
