//begin footer
+b.FOOTER.footer
	+e.inner.noise-bg
		+e.container.container
			+e.P.text
				span Center
				i |
				= ' '
				| Dop © 2018. Все права защищены
	+arcDecor('1 footer__arc-decor', true)
//end footer
