.footer
   position: relative
   z-index: 3
   padding-top: 150px
   margin-top: -80px
   &__container
   &__text
      position: relative
      margin-top: 30px
      padding: 18px 0
      text-align: center
      color: $color5
      +f('ub300', 14)
      span
         +f('ub700')
      i
         font-style: normal
         +f('ub400')
   &__arc-decor
      bottom: 60px
