.header
   $parent: &
   position: fixed
   top: 0
   width: 100%
   z-index: 100
   transition: .3s ease-in-out
   &.is-fixed
      transform: translate3d(0, calc(-100% + 50px), 0)
   &.is-visible
      transform: translate3d(0, 0, 0)
   &__info
      box-shadow: 0 15px 35px rgba(26, 23, 23, 0.05)
      background-color: $white
      &-container
         display: flex
         align-items: center
         justify-content: space-between
         height: 80px
   &__logo
      &-text
         +f('ub700', 30, 30)
         i
            margin: 0 -5px
            +f('ub400')
            font-style: normal
            color: $color1
         span
            +f('ub300')
   &__contact-block
      margin-top: 10px
