.slider
   display: none
   &.slick-initialized
      display: block
      
.slider-controls
   position: absolute
   +flexCenter
   width: 150px
   height: 20px
   z-index: 1
   
.slider-dots
   $parent: &
   display: flex
   justify-content: center
   padding: 0 20px
   line-height: 0
   li
      &:not(:last-child)
         margin-right: 24px
      &.slick-active
         button
            background-color: $color1
      button
         width: 6px
         height: 6px
         background-color: #808080
         border-radius: 50%
         +hide-text
         transition: .3s ease-in-out
         
.slider-btn
   position: absolute
   top: 0
   transition: .3s ease-in-out
   &:hover
      opacity: .5
   //&.slick-disabled
      pointer-events: none
      opacity: .2
   &_prev
      left: 0
   &_next
      right: 0
   svg
      fill: #808080
      font-size: 22px
