.icon-angle-down {
  width: 0.63em;
  height: 1em;
  fill: initial;
}
.icon-angle-left {
  width: 0.5em;
  height: 1em;
  fill: initial;
}
.icon-angle-right {
  width: 0.5em;
  height: 1em;
  fill: initial;
}
.icon-car-side {
  width: 1.25em;
  height: 1em;
  fill: initial;
}
.icon-check {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 0.69em;
  height: 1em;
  fill: initial;
}
.icon-comment-alt {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-envelope {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-map-marker-alt {
  width: 0.75em;
  height: 1em;
  fill: initial;
}
.icon-mobile {
  width: 0.63em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sld-arr-l {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sld-arr-r {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user-edit {
  width: 1.25em;
  height: 1em;
  fill: initial;
}
